.Rproj.user
.Rhistory
.RData
.Ruserdata
Notes for final report.docx
init_vars_final_rept.csv
checkpoints/*.tex
checkpoints/*.pdf
checkpoints/*.dot
proposals/
report/Prioli_final_report.tex
report/Prioli_final_report_files/
Final project assignment parameters.pdf